<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Appli de Chat</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/app.css">
    <style>
        body {
            background: #222;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            max-height: 100%;
            box-sizing: border-box;
            color: #ddd;
        }

        header.header {
            background: green;
            color: white;
            padding: 10px;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
        }

        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }

        .user-info {
            list-style: none;
            display: flex;
            gap: 20px;
        }

        .logout {
            background-color: red;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .logout:hover {
            background-color: green;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            padding: 50px 50px 0 50px;
            gap: 20px;
        }

        .leftside {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 20px;
            max-height: 50%;
        }

        #chatWindow {
            flex: 1;
            border: 2px solid #ddd;
            border-radius: 10px;
            padding: 20px;
            background: black;
            overflow-y: auto;
            font-family: 'Courier New', monospace;
            max-height: 500px;
            color: #ddd;
        }

        #chatWindow .timestamp {
            color: red;
            float: right;
        }

        #messageForm {
            display: flex;
            gap: 10px;
        }

        #messageForm input[type="text"], #messageForm button {
            flex: 1;
            padding: 10px;
            border: 2px solid #ddd;
            border-radius: 5px;
            font-size: 16px;
            background: black;
            color: #ddd;
        }

        #messageForm button {
            background-color: green;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        #messageForm button:hover {
            background-color: green;
        }

        .rightside {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .users {
            display: flex;
            gap: 20px;
            width: 100%;
            max-height: 200px;
        }

        .actionbuttons {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        #userWrapper {
            border: 1px solid #ccc;
            border-radius: 10px;
            background: black;
            padding: 10px;
            width: 50%;
            max-height: 150px;
            overflow-y: auto;
            color: #ddd;
        }

        .actionbuttons .action-item {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .actionbuttons .action-item input, .actionbuttons .action-item button {
            padding: 10px;
            border: 2px solid #ddd;
            border-radius: 5px;
            font-size: 16px;
            background: black;
            color: #ddd;
        }

        .actionbuttons .action-item button {
            background-color: green;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .actionbuttons .action-item button:hover {
            background-color: green;
        }

        #msgWithPattern, #conversationsByUser, #conversations {
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 10px;
            background: black;
            max-height: 150px;
            overflow-y: auto;
            color: #ddd;
        }

    </style>
</head>
<body>
<section>
    <header class="header">
        <div class="header-content">
            <h1>ChatIO</h1>
            <ul class="user-info">
                <li class="user"><%= user.name || user.username %></li>
                <li>
                    <form action="/logout" method="post">
                        <button class="logout" type="submit">Sign out</button>
                    </form>
                </li>
            </ul>
        </div>
    </header>

    <div class="container">
        <div class="leftside">
            <div id="chatWindow"></div>
            <form id="messageForm">
                <input type="text" id="message" placeholder="Say something" required>
                <button type="submit" id="submitMessage">Submit</button>
            </form>
        </div>

        <div class="rightside">
            <div class="users">
                <div id="userWrapper">
                    <div id="users"></div>
                </div>
                <div id="userWrapper">
                    <div id="participants"></div>
                </div>
            </div>

            <div class="actionbuttons">
                <div class="action-item">
                    <div style="display: flex; gap: 10px">
                        <div style="display: flex; flex-direction: column">
                            <label for="pattern"></label><input type="text" id="pattern" placeholder="Pattern">
                            <button id="getMsgWithPattern">Get msg with pattern</button>
                        </div>
                        <div style="width: 100%; max-height: 62px" id="msgWithPattern"></div>
                    </div>
                </div>

                <div class="action-item">
                    <div style="display: flex; gap: 10px; justify-content: space-between">
                        <div style="display: flex; flex-direction: column">
                            <input type="text" id="usernameDelete" placeholder="Username">
                            <button id="deleteChat">Delete chat</button>
                        </div>
                        <button id="deleteEverything" style="background: red">Delete everything</button>
                    </div>
                </div>

                <div class="action-item">
                    <div style="display: flex; gap: 20px">
                        <input type="text" name="getUsername" id="getUsername" placeholder="Username">
                        <div style="display: flex; flex-direction: column; gap: 10px; justify-content: space-between">
                            <input type="date" id="userFirstDate">
                            <input type="date" id="userLastDate">
                        </div>
                        <button id="getUserConversationsBetweenDates">Get user conversations</button>
                        <div style="width: 100%" id="conversationsByUser"></div>
                    </div>
                </div>

                <div class="action-item">
                    <div style="display: flex; gap: 20px">
                        <div style="display: flex; flex-direction: column; gap: 10px; justify-content: space-between">
                            <input type="date" id="firstDate">
                            <input type="date" id="lastDate">
                        </div>
                        <button id="getConversations">Get conversations</button>
                        <div style="width: 100%" id="conversations"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<footer class="info">
    <p>Authentication powered by <a href="https://www.passportjs.org">Passport</a></p>
</footer>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
    document.getElementById('getConversations').addEventListener('click', function () {
        const firstDate = document.getElementById('firstDate').value;
        const lastDate = document.getElementById('lastDate').value;
        const username = '<%= user.name || user.username %>';

        fetch(`http://localhost:3030/message/users/date?username=${username}&firstDate=${firstDate}&lastDate=${lastDate}`)
            .then(response => response.json())
            .then(data => {
                const conversationsDiv = document.getElementById('conversations');
                conversationsDiv.innerHTML = '';
                data.forEach(conversation => {
                    const p = document.createElement('p');
                    p.textContent = conversation.message;
                    conversationsDiv.appendChild(p);
                });
            })
            .catch(error => console.error('Error:', error));
    });


    $(function () {
        const username = '<%= user.name || user.username %>';
        const socket = io.connect();
        const $messageForm = $('#messageForm');
        const $message = $('#message');
        const $chat = $('#chatWindow');
        const $users = $('#users');
        const $submitMessage = $('#submitMessage');
        const $participants = $('#participants');
        const $pattern = $('#pattern');
        const $getMsgWithPattern = $('#getMsgWithPattern');
        const $usernameDelete = $('#usernameDelete');
        const $deleteChat = $('#deleteChat');
        const $getUsername = $('#getUsername');
        const $getUserConversationsBetweenDates = $('#getUserConversationsBetweenDates');
        const $userFirstDate = $('#userFirstDate');
        const $userLastDate = $('#userLastDate');
        const $deleteEverything = $('#deleteEverything');


        socket.username = username;

        socket.emit('new user', socket.username, function (data) {
            if (data) {
                console.log('Username is accepted');
            } else {
                console.log('Username is taken');
            }
        });

        $message.on('input', function () {
            if ($message.val().trim() === '') {
                $submitMessage.prop('disabled', true);
            } else {
                $submitMessage.prop('disabled', false);
            }
        });

        socket.on('usernames', function (data) {
            console.log("usernames", data);
            var html = '';
            for (i = 0; i < data.length; i++) {
                html += '🥚' + data[i] + '<br>';
            }
            $users.html(html);
        });

        $deleteEverything.click(function () {
            fetch('http://localhost:3030/message/all', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(data => console.log('Tous les messages ont été supprimés avec succès:', data))
                .catch((error) => {
                    console.error('Erreur:', error);
                });
        });


        $getUserConversationsBetweenDates.click(function () {
            const username = $getUsername.val();
            const firstDate = $userFirstDate.val();
            const lastDate = $userLastDate.val();
            fetch(`http://localhost:3030/message/users/date?username=${username}&firstDate=${firstDate}&lastDate=${lastDate}`)
                .then(response => response.json())
                .then(data => {
                    const conversationsByUserDiv = document.getElementById('conversationsByUser');
                    conversationsByUserDiv.innerHTML = '';
                    data.forEach(conversation => {
                        const p = document.createElement('p');
                        p.textContent = conversation.message;
                        conversationsByUserDiv.appendChild(p);
                    });
                })
                .catch(error => console.error('Error:', error));
        });

        $deleteChat.click(function () {
            const username = $usernameDelete.val();
            fetch(`http://localhost:3030/message?username=${username}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(data => console.log('Chat supprimé avec succès:', data))
                .catch((error) => {
                    console.error('Erreur:', error);
                });
        });

        $getMsgWithPattern.click(function () {
            const pattern = $pattern.val();
            fetch(`http://localhost:3030/message/pattern?pattern=${pattern}`)
                .then(response => response.json())
                .then(data => {
                    const msgWithPatternDiv = document.getElementById('msgWithPattern');
                    msgWithPatternDiv.innerHTML = '';
                    data.forEach(msg => {
                        const p = document.createElement('p');
                        p.textContent = msg.message;
                        msgWithPatternDiv.appendChild(p);
                    });
                })
                .catch(error => console.error('Error:', error));
        });

        $messageForm.submit(function (e) {
            e.preventDefault();
            if ($message.val().trim() !== '') {
                socket.emit('send message', $message.val());
                fetch('http://localhost:3030/message', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        username: socket.username,
                        message: $message.val(),
                        date: new Date().toISOString(),
                    }),
                })
                    .then(response => response.json())
                    .then(data => console.log('Message ajouté avec succès:', data))
                    .catch((error) => {
                        console.error('Erreur:', error);
                    });
                $message.val('');
                $submitMessage.prop('disabled', true);

                $message.val('');
                $submitMessage.prop('disabled', true);
                fetch('http://localhost:3030/message/users', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Participants:', data);
                        var html = '';
                        for (i = 0; i < data.length; i++) {
                            html += '🥚' + data[i] + '<br>';
                        }
                        $participants.html(html);
                    })
                    .catch((error) => {
                        console.error('Erreur:', error);
                    });
            }
        });

        socket.on('chat history', function (msgs) {
            console.log('je recoit bien les messages (ou pas)')
            for (let i = 0; i < msgs.length; i++) {
                console.log('messages : ', msgs[i])
                $chat.append('<strong style="color: green">' + msgs[i].user + '</strong> ' + '> ' + msgs[i].msg + ' [' + msgs[i].timestamp + ']' + '<br>');
            }
        });

        socket.on('new message', function (data) {
            const messageClass = data.user === username ? 'self' : 'other';
            $chat.append('<p class="' + messageClass + '"><strong>' + data.user + '</strong> > ' + data.msg + ' <span class="timestamp">[' + new Date().toLocaleString() + ']</span></p>');
            $chat[0].scrollTop = $chat[0].scrollHeight;
        });
    });
</script>
</body>
</html>