<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Appli de Chat</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/app.css">
    <style>
        body {
            background: #f5f5f5;
            font-family: Arial, sans-serif;
        }

        #container {
            width: 1000px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            justify-content: center;
            align-items: start;
        }

        #chatWindow {
            height: 200px;
            width: 100%;
            border: 2px solid #ddd;
            overflow: auto;
            border-radius: 10px;
            padding: 20px;
            background: #fff;
            font-family: 'Courier New', monospace;
            grid-column: span 2;
        }

        #mainWrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 200%;
        }

        #chatWrapper, #userWrapper {
            border: 1px #ccc solid;
            border-radius: 10px;
            background: #f4f4f4;
            padding: 10px;
            width: 100%;
        }

        #userWrapper {
            max-height: 200px;
            overflow: auto;
        }

        input, button {
            height: 30px;
            border: solid 2px #ddd;
            border-radius: 5px;
            padding: 10px;
            margin-top: 10px;
            font-size: 16px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        }

        button {
            cursor: pointer;
            background-color: #007BFF;
            color: white;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #0056b3;
        }

        #msgWithPattern {
            margin-top: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 10px;
            background: #fff;
            overflow: auto;
            max-height: 200px;
        }
    </style>
</head>
<body>
<section class="todoapp">
    <nav class="nav">
        <ul>
            <li class="user"><%= user.name || user.username %></li>
            <li>
                <form action="/logout" method="post">
                    <button class="logout" type="submit">Sign out</button>
                </form>
            </li>
        </ul>
    </nav>
    <header class="header">
        <h1>ChatIO</h1>
    </header>
    <div id="container">

        <div id="mainWrapper">
            <h2>Chat avec Socket.IO</h2>
            <div id="chatWrapper"></div>
            <div id="chatWindow"></div>
            <form id="messageForm">
                <label for="message"></label><input type="text" size="35" id="message" placeholder="SaySomething">
                <input type="submit" value="Submit" id="submitMessage">
            </form>
            <div id="pattern">
                <label for="pattern"></label><input type="text" id="pattern" placeholder="Pattern">
                <button id="getMsgWithPattern">Get msg with pattern</button>
                <div id="msgWithPattern"></div>
            </div>

            <div id="deleteChat">
                <label for="usernameDelete"></label><input type="text" id="usernameDelete" placeholder="Username">
                <button id="deleteChat">Delete chat</button>
            </div>

            <div id="deleteEverything">
                <button id="deleteEverything">Delete everything</button>
            </div>

            <div id="getUserConversationsBetweenDates">
                <label for="getUsername"></label><input type="text" name="getUsername" id="getUsername">
                <label for="userFirstDate"></label><input type="date" id="userFirstDate">
                <label for="userLastDate"></label><input type="date" id="userLastDate">
                <button id="getUserConversationsBetweenDates">Get user conversations</button>
                <div id="conversationsByUser"></div>
            </div>
        </div>
        <div id="userWrapper">
            <div id="users"></div>
        </div>
        <div id="userWrapper">
            <div id="participants"></div>
        </div>
        <div id="userWrapper">
            <label for="firstDate"></label><input type="date" id="firstDate">
            <label for="lastDate"></label><input type="date" id="lastDate">
            <button id="getConversations">Get conversations</button>
            <div id="conversations"></div>
        </div>
    </div>
</section>
<footer class="info">
    <p>Authentication powered by <a href="https://www.passportjs.org">Passport</a></p>
</footer>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
    document.getElementById('getConversations').addEventListener('click', function () {
        const firstDate = document.getElementById('firstDate').value;
        const lastDate = document.getElementById('lastDate').value;
        const username = '<%= user.name || user.username %>'; // replace this with the actual username

        fetch(`http://localhost:3030/message/users/date?username=${username}&firstDate=${firstDate}&lastDate=${lastDate}`)
            .then(response => response.json())
            .then(data => {
                const conversationsDiv = document.getElementById('conversations');
                conversationsDiv.innerHTML = '';
                data.forEach(conversation => {
                    const p = document.createElement('p');
                    p.textContent = conversation.message;
                    conversationsDiv.appendChild(p);
                });
            })
            .catch(error => console.error('Error:', error));
    });


    $(function () {
        const username = '<%= user.name || user.username %>';
        const socket = io.connect();
        const $messageForm = $('#messageForm');
        const $message = $('#message');
        const $chat = $('#chatWindow');
        const $users = $('#users');
        const $submitMessage = $('#submitMessage');
        const $participants = $('#participants');
        const $pattern = $('#pattern');
        const $getMsgWithPattern = $('#getMsgWithPattern');
        const $usernameDelete = $('#usernameDelete');
        const $deleteChat = $('#deleteChat');
        const $getUsername = $('#getUsername');
        const $getUserConversationsBetweenDates = $('#getUserConversationsBetweenDates');
        const $userFirstDate = $('#userFirstDate');
        const $userLastDate = $('#userLastDate');
        const $deleteEverything = $('#deleteEverything');


        socket.username = username;

        socket.emit('new user', socket.username, function (data) {
            if (data) {
                console.log('Username is accepted');
            } else {
                console.log('Username is taken');
            }
        });

        $message.on('input', function () {
            if ($message.val().trim() === '') {
                $submitMessage.prop('disabled', true);
            } else {
                $submitMessage.prop('disabled', false);
            }
        });

        socket.on('usernames', function (data) {
            console.log("usernames", data);
            var html = '';
            for (i = 0; i < data.length; i++) {
                html += '🥚' + data[i] + '<br>';
            }
            $users.html(html);
        });

        $deleteEverything.click(function () {
            fetch('http://localhost:3030/message/all', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(data => console.log('Tous les messages ont été supprimés avec succès:', data))
                .catch((error) => {
                    console.error('Erreur:', error);
                });
        });


        $getUserConversationsBetweenDates.click(function () {
            const username = $getUsername.val();
            const firstDate = $userFirstDate.val();
            const lastDate = $userLastDate.val();
            fetch(`http://localhost:3030/message/users/date?username=${username}&firstDate=${firstDate}&lastDate=${lastDate}`)
                .then(response => response.json())
                .then(data => {
                    const conversationsByUserDiv = document.getElementById('conversationsByUser');
                    conversationsByUserDiv.innerHTML = '';
                    data.forEach(conversation => {
                        const p = document.createElement('p');
                        p.textContent = conversation.message;
                        conversationsByUserDiv.appendChild(p);
                    });
                })
                .catch(error => console.error('Error:', error));
        });

        $deleteChat.click(function () {
            const username = $usernameDelete.val();
            fetch(`http://localhost:3030/message?username=${username}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(data => console.log('Chat supprimé avec succès:', data))
                .catch((error) => {
                    console.error('Erreur:', error);
                });
        });

        $getMsgWithPattern.click(function () {
            const pattern = $pattern.val();
            fetch(`http://localhost:3030/message/pattern?pattern=${pattern}`)
                .then(response => response.json())
                .then(data => {
                    const msgWithPatternDiv = document.getElementById('msgWithPattern');
                    msgWithPatternDiv.innerHTML = '';
                    data.forEach(msg => {
                        const p = document.createElement('p');
                        p.textContent = msg.message;
                        msgWithPatternDiv.appendChild(p);
                    });
                })
                .catch(error => console.error('Error:', error));
        });

        $messageForm.submit(function (e) {
            e.preventDefault();
            if ($message.val().trim() !== '') {
                socket.emit('send message', $message.val());
                fetch('http://localhost:3030/message', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        username: socket.username,
                        message: $message.val(),
                        date: new Date().toISOString(),
                    }),
                })
                    .then(response => response.json())
                    .then(data => console.log('Message ajouté avec succès:', data))
                    .catch((error) => {
                        console.error('Erreur:', error);
                    });
                $message.val('');
                $submitMessage.prop('disabled', true);

                $message.val('');
                $submitMessage.prop('disabled', true);
                fetch('http://localhost:3030/message/users', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Participants:', data);
                        var html = '';
                        for (i = 0; i < data.length; i++) {
                            html += '🥚' + data[i] + '<br>';
                        }
                        $participants.html(html);
                    })
                    .catch((error) => {
                        console.error('Erreur:', error);
                    });
            }
        });

        socket.on('chat history', function (msgs) {
            console.log('je recoit bien les messages (ou pas)')
            for (let i = 0; i < msgs.length; i++) {
                console.log('messages : ', msgs[i])
                $chat.append('<strong style="color: green">' + msgs[i].user + '</strong> ' + '> ' + msgs[i].msg + ' [' + msgs[i].timestamp + ']' + '<br>');
            }
        });

        socket.on('new message', function (data) {
            $chat.append('<strong style="color: green">' + data.user + '</strong> ' + '> ' + data.msg + ' [' + new Date().toLocaleString() + ']' + '<br>');
        });
    });
</script>
</body>
</html>